*{
    margin:0;
    padding:0;
    font-family: Helvetica, Ubuntu;
}

#navbar{
    height:60px;
    background-color:rgb(28, 110, 84);
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: start;
    align-items: center;
    position:sticky;
    top:0;
    box-shadow:0 5px 10px rgb(151, 213, 200)
}

#nav-brand{
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    color: rgb(253, 253, 253);
    margin-left: 100px;
    text-decoration: underline;

    text-shadow: 0 5px 30px rgb(65, 245, 218,1)
}


.flex-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    padding: 10px;
    text-align: center;
}

.task-card {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 3px;
    cursor: grab;
}